$primary: #1B1B1B;
$primaryLighter: #232323;
$primaryLight: #3A3A3A;
$secondary: #FFFFFF;
$secondaryDarker: #CCCCCC;
$secondaryDark: #999999;
$accent: #FA6E37;
$accentAlt: #F47746;
$accentDarker: #E2612E;
