@import "_colors.scss"; 
@import "_fonts.scss"; 

header{
    background-color: $primaryLighter;
    padding: 40px 0;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 19px;

        a{
            text-decoration: none;
        }

        &-nav{

            &__list{
                display: flex;
                list-style-type: none
            }
    
            &__item{
                padding-right: 40px;

                &:last-child{
                    padding-right: 0;
                }
            }
    
            &__link{
                text-decoration: none;
                color: $secondary;
                transition: all 0.2s ease;
    
                &:hover{
                    color: $accent;
                }
            }

            a{
                text-decoration: none;
            }
        }
    }

    
    

}

@media (max-width:1250px){


    header{
        background-color: $primary;
        position: relative;
        padding: 20px 0;

        .header{
            flex-direction: column;
            align-items: start;
            font-size: 14px;

            &.active1 .header__icons{
                &-1{
                    display: none;
                }

                &-2{
                    display: block;
                }
            }

            &.active1 .header-nav{
                left: 0%;
            }

            &__info{
                text-align: center;
                width: 100%;

                a{
                    text-decoration: none;
                    color: $secondary;
                }

                p{
                    margin-top: 16px;
                }
            }

            &__logo{
                width: 108px;
                height: 24px;
            }

            &-nav{
                width: 100%;
                position: absolute;
                transition: all 0.2s ease;
                background-color: $primary;
                top: 90px;
                height: 100vh;
                z-index: 5;
                left: -100%;

                &__list{
                    flex-direction: column;
                    padding: 20px 0 30px;
                }

                &__item{
                    margin: auto;
                    padding-right: 0;
                    padding: 10px 0;
                }

                &__link{
                    text-transform: uppercase;
                }
                
            }

            &__icons{
                position: absolute;
                align-items: end;
                right: 15px;
                background-color: transparent;
                border: none;
                top: 0;
                cursor: pointer;
                height: 25px;
                bottom: 0;
                margin: auto;

                &-2{
                    display: none;
                }
            }
        }
    }
}

